.content-editor-md{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 80px;
}

.editable h2, .render h2{
  color:#2e76d5;
}

.editable textarea{
  background: #f1f1f1;
  resize: none;
  width: 500px;
  height: 600px;
  padding: 10px;
  border: none;
  color: #181818;
}

.editable textarea:focus, .editable .row button:focus{
  outline: none;
}

.editable .row{
  text-align: right;
  margin-top: 20px;
  width: 525px;
}

.editable .row button{
  background: #2e76d5;
  color: #FFFFFF;
  border: 1px solid #2e76d5;
  padding: 10px 20px;
  transition: 0.2s;
}

.editable .row button:hover{
  background: #FFFFFF;
  color: #2e76d5;
  cursor: pointer;
  transition: 0.2s;
}

.render{
      max-width: 680px;
}

@media screen and (max-width: 1100px) {
  .content-editor-md{
    display:block;
    margin: 0 auto;
    width: 500px;
  }

  .editable, .render{
    padding-top: 30px;
  }

  .editable textarea{
    height: 300px;
  }

  .editable .row button{
    width: 100%
  }
}
