/*********************************/
/*             FOOTER            */
/*********************************/
footer{
    background: #133148;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
}
.credits, .left, .right{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.8em;
    justify-content: center;
}

.credits img{
    width: 50px;
    padding: 5px 0px;
}

.credits p, a{
    color: #FFFFFF;
}

.left, .right{
  font-size: 1.3em;
  width: 100px;
  justify-content: space-around;
  cursor: pointer;
}
/*********************************/
/*          RESPONSIVE           */
/*********************************/
@media screen and (max-height: 315px) {
    footer{
        bottom: inherit;
    }
}
